<ion-header>
    <ion-toolbar color="warning">
      <ion-title>caloriesDay</ion-title>
      <ion-button href="./me-nupublic" color="warning">
        <ion-icon  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-list >
      <div style="margin-top: 10px">
    <ion-item lines="none">
      <ion-label><h1>CALORIES TOTAL TO DAY</h1></ion-label>
    </ion-item>
  </div>
 
    <ion-item  lines="none" >
        <div style="text-align:center">
      <ion-label>{{ ntotleValue }} kcal</ion-label>
    </div>
    </ion-item>

  
  <div style="margin-top:30px">
      <ion-item lines="none">
        <ion-label><h1>CALORIES TOTAL TO DAY</h1></ion-label>
      </ion-item>
    </div>

      <ion-item  lines="none" >
          <div style="text-align:center">
       {{ tee }} kcal
      </div>
      </ion-item>
   
  </ion-list>
  </ion-content>
  