<ion-header>
    <ion-toolbar color="warning">
        <span>
          <ion-button href="./storage-person/:user" color="warning">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
    
          <ion-title> Menu </ion-title>
    
          <ion-button color="warning" href="./device" style="position:fixed ; right: 10px; ">
            <ion-icon name="help-circle-outline"></ion-icon>
          </ion-button>
        </span>
       
      </ion-toolbar>
</ion-header>

<ion-content>
  
  
<ion-list >
      <ion-item>
          <div>
            <img height="50px" width="50px" src="/assets/picture/BEETEE.png">
          </div>
          <div style="width: 80%">
          <ion-button href ="./bee-tee" size="large" expand="full" fill="outline">BEE/TEE</ion-button>
        </div>
        </ion-item>
        <ion-item>
            <div>
              <img height="50px" width="50px" src="/assets/picture/calories intake.png">
            </div>
            <div style="width: 80%">
            <ion-button  href="./intake" size="large" expand="full" fill="outline">Calories intake</ion-button>
          </div>
          </ion-item>
</ion-list>
</ion-content>
