<ion-header>
  <ion-toolbar color="warning">
    <ion-title>device</ion-title>
    <ion-button href="./menu" color="warning">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides style="width:100% ; height:100vh">

    <ion-slide>
      <img src="../../assets/picture/Protein1.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/picture/Protein2.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/picture/Protein3.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/picture/Protein4.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/picture/carbohydrate1.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/picture/carbohydrate2.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/picture/veg1.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/picture/veg2.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/picture/veg3.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
    </ion-slide>
    <ion-slide>
        <img src="../../assets/picture/veg4.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
      </ion-slide>
      <ion-slide>
          <img src="../../assets/picture/fat1.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
        </ion-slide>
        <ion-slide>
            <img src="../../assets/picture/fat2.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
          </ion-slide>
          <ion-slide>
              <img src="../../assets/picture/fruit3.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
            </ion-slide>
            <ion-slide>
                <img src="../../assets/picture/fruit3.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
              </ion-slide>
              <ion-slide>
                  <img src="../../assets/picture/fruit3.jpg" style="float:left;width:100%;height:100%;object-fit:cover;">
                </ion-slide>
  </ion-slides>
</ion-content>