<ion-header>
  <ion-toolbar color="warning">
    <ion-title>register</ion-title>
    <ion-button href="./home" color="warning">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>

      <img style="height:50px ; width:50px ; " src="/assets/picture/medical team.png">
      <ion-button href="./member" size="large" expand="full" fill="outline" style="width:100%">สำหรับบุคลากรทางการแพตย์
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>